---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";

export type Post = {
  data: {
    pubDate?: Date;
    title: string;
    slug: string;
  };
};

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);

const latestPosts = posts.slice(0, 5);

const timestamp = new Date().getTime();
const haikuCard = `https://raw.githubusercontent.com/heristop/gutenku/main/assets/img/daily_haiku_card.jpg?t=${timestamp}`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="site">
      <Header title={SITE_TITLE} />

      <div class="content">
        <ul>
          <li>
            <h2 class="flex items-center gap-x-2 align-middle"><img
              class="year-icon"
              src="/images/layout.png"
              alt="Year Icon"
              width="16px"
              height="16px"
            /> Latest Posts</h2>

            <hr class="mt-1 mb-4" />

            {
              latestPosts.map((post) => (
                <ul class="posts-by-year">
                  <li class="flex items-center space-x-2 align-middle">
                    {post.data.pubDate && (
                      <span class="meta post-date text-sm w-12">
                        <FormattedDate date={post.data.pubDate} />
                      </span>
                    )}

                    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                  </li>
                </ul>
              ))
            }

            <blockquote class="mt-4 mb-2 text-sm">
              More posts can be found on the <a href="/blog/">Blog</a> page
            </blockquote>
          </li>
        </ul>

        <div class="haiku mt-6">
          <h2 class="flex items-center gap-x-2 align-middle"><img
            class="year-icon"
            src="/images/layout.png"
            alt="Year Icon"
            width="16px"
            height="16px"
          /> Daily Haiku Card</h2>

          <hr class="mt-1 mb-4" />
  
          <div class="haiku-card">
            <img class="haiku-img w-60 shadow-md align-middle text-center" src={haikuCard} alt="Haiku Image" />

            <blockquote class="text-sm mt-2">
              Image generated with <a href="https://gutenku.xyz" target="_blank">GutenKu</a>
            </blockquote>
          </div>
        </div>
      </div>

      <Footer />
    </main>
  </body>
</html>
