---
import { LINKFOLIO_URL } from '../consts';
import { Image } from 'astro:assets';

async function fetchUserConfig() {
  const response = await fetch(`${LINKFOLIO_URL}/api/config`);
  const userConfig = await response.json();
  return userConfig;
}

const { filter } = Astro.props;

const userConfig = await fetchUserConfig();

const delay = 100;

type NetworkType = {
  title: string;
  description: string;
  url: string;
  group: string;
  iconSrc: {
    src: string;
  };
};
---

<section class="social-network">
  {
    userConfig.socialNetworks
      .filter((network: NetworkType) => network.group === filter)
      .map((network: NetworkType, index: number) => (
        <div
          class="social-network__card"
          style={`animation-delay: ${delay * index}ms`}
        >
          <a href={network.url} target="_blank" class="social-network__link">
            <Image
              src={
                network.iconSrc.src
                  ? `${LINKFOLIO_URL}/${network.iconSrc.src}`
                  : `${LINKFOLIO_URL}/${network.iconSrc}`
              }
              alt={network.description}
              width={300}
              height={100}
              class="social-network__image"
            />

            <div class="social-network__content">
              <h3 class="social-network__title">{network.title}</h3>
              <p class="social-network__description">{network.description}</p>
            </div>
          </a>
        </div>
      ))
  }
</section>
