---
interface Props {
  title: string;
  slug: string;
  minimal?: boolean;
  class?: string;
}

const { title, slug, minimal = false, class: className = 'md:mt-6' } = Astro.props;
const url = `https://heristop.github.io/blog/${slug}`;

const shareLinks = [
  {
    name: 'BlueSky',
    url: `https://bsky.app/intent/compose?text=${encodeURIComponent(title)}%20${encodeURIComponent(url)}`,
    icon: `<path d="M5.2 1.427C7.954 3.5 10.914 7.7 12 9.957v5.96c0-.127-.049.016-.154.325-.567 1.673-2.782 8.193-7.846 2.979-2.667-2.745-1.432-5.49 3.422-6.319-2.777.474-5.899-.31-6.755-3.38-.307-.724-.667-6.12-.667-6.87 0-3.682 3.217-2.525 5.2-1.029ZM18.8 1.427C16.046 3.5 13.086 7.7 12 9.957v5.96c0-.127.049.016.154.325.567 1.673 2.782 8.193 7.846 2.979 2.667-2.745 1.432-5.49-3.422-6.319 2.777.474 5.899-.31 6.755-3.38.307-.724.667-6.12.667-6.87 0-3.682-3.217-2.525-5.2-1.029Z" stroke-width="0.1" fill="currentColor"></path>`
  },
  {
    name: 'X',
    url: `https://x.com/intent/tweet?url=${encodeURIComponent(url)}&text=${encodeURIComponent(title)}`,
    icon: `<path d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>`
  },
  {
    name: 'LinkedIn',
    url: `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(url)}`,
    icon: `<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle>`
  },
];
---

<div class={`flex flex-wrap gap-2 font-semibold ${className}`}>
  {shareLinks.map(link => (
    <a
      href={link.url}
      target="_blank"
      rel="noopener noreferrer"
      class={`
        group inline-flex items-center
        ${minimal ? 'p-2' : 'px-3 sm:px-4 py-2'}
        bg-stone-400/20 text-stone-700 rounded-full 
        hover:bg-stone-400/15 transition-colors duration-300 
        text-xs social-share-hover
      `}
      aria-label={`Share on ${link.name}`}
    >
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        class={`
          w-4 h-4 transition-transform duration-300 group-hover:scale-110
          ${minimal ? '' : 'mr-1.5 sm:mr-2'}
        `} 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round"
      >
        <Fragment set:html={link.icon} />
      </svg>
      {!minimal && <span class="whitespace-nowrap">Share on {link.name}</span>}
    </a>
  ))}
</div>

<style>
  .social-share-hover:hover {
    color: var(--link-color-secondary);
  }
</style>
