---
import Icon from "./Icon.astro";

interface Props {
  title: string;
  slug: string;
  minimal?: boolean;
  class?: string;
}

const { title, slug, minimal = false, class: className = 'social-share--default' } = Astro.props;
const url = `https://heristop.github.io/blog/${slug}`;

const shareLinks = [
  {
    name: 'BlueSky',
    url: `https://bsky.app/intent/compose?text=${encodeURIComponent(title)}%20${encodeURIComponent(url)}`,
    icon: 'cloud'
  },
  {
    name: 'X',
    url: `https://x.com/intent/tweet?url=${encodeURIComponent(url)}&text=${encodeURIComponent(title)}`,
    icon: 'twitter'
  },
  {
    name: 'LinkedIn',
    url: `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(url)}`,
    icon: 'linkedin'
  },
];
---

<div class={`social-share ${className}`}>
  {shareLinks.map(link => (
    <a
      href={link.url}
      target="_blank"
      rel="noopener noreferrer"
      class:list={[
        'social-share__link',
        minimal ? 'social-share__link--minimal' : 'social-share__link--full',
      ]}
      aria-label={`Share on ${link.name}`}
    >
      <Icon
        name={link.icon}
        size={20}
        class:list={[
          'social-share__icon',
          { 'social-share__icon--with-text': !minimal },
        ]}
      />
      {!minimal && <span class="social-share__text">Share on {link.name}</span>}
    </a>
  ))}
</div>
